{% extends 'livebot/base.html' %}
{%block head_title %}Home{% endblock %}
{% block page_header %}Welcome{% endblock %}
{% block content %}
<div class="panel panel-primary">
    <div class="panel-body text-center">
        This is the default home page for now.<br />
        More will be added in time.<br />
        If you would like to add the bot to your server, please click this button 
        <a class="btn btn-embossed btn-info" href="https://discordapp.com/oauth2/authorize?client_id=334870738257444865&scope=bot&permissions=519248">
            <i class="fa fa-plus"></i> Invite
        </a>
    </div>
</div>
{% endblock %}
