git+https://github.com/Rapptz/discord.py@rewrite#egg=discord.py[voice]
Django==1.11.5
django-allauth==0.33.0
gunicorn==19.7.1
raven>=3
requests==2.18.4
requests-oauthlib==0.8.0
psycopg2==2.7.3.2
python-dateutil==2.6.1
whitenoise==3.3.1
