{% load staticfiles %}
<!-- Page rendered: {% now "SHORT_DATETIME_FORMAT" %} -->

<div class="col-xs-12">
    <nav class="navbar navbar-inverse navbar-embossed navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="{% url 'index' %}">Live Bot</a>
            </div>
            <div class="navbar-collapse collapse">
                <ul  class="nav navbar-nav">
                    <li class="{% if nbar == 'home' or nbar is None or nbar == '' %}active{% endif %}">
                        <a href="{% url 'index' %}">Home</a>
                    </li>
                    <li>
                        <a href="https://github.com/bsquidwrd/Live-Bot" target="_blank"><i class="fa fa-github"></i> GitHub</a>
                    </li>
                    <li>
                        <a href="https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&hosted_button_id=XYSMT6V7TGE5S"><i class="fa fa-paypal"></i> Donate</a>
                    </li>
                    <li>
                        <a href="https://discord.gg/zXkb4JP"><i class="fa fa-life-ring"></i> Support</a>
                    </li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    {% if user.is_authenticated %}
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Welcome, {{ user.username }}! <b class="caret"></b></a>
                            <span class="dropdown-arrow"></span>
                            <ul class="dropdown-menu">
                                <li><a href="{% url 'socialaccount_connections' %}">Manage Connections</a></li>
                                {% if user.is_superuser %}
                                <li><a href="{% url 'admin:index' %}">Admin</a></li>
                                {% endif %}
                                <li><a href="{% url 'account_logout' %}?next={{ request.path }}">Logout</a></li>
                            </ul>
                        </li>
                    {% else %}
                        <li><a href="{% url 'account_login' %}?next={{ request.path }}">Login</a></li>
                    {% endif %}
                </ul>
            </div><!--/.nav-collapse -->
        </div><!--/.container -->
    </nav>
</div>
<br /><br />
